body{
  font-family: 'Inter', sans-serif;
}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

/* Style the inputs */
.inputContainer .input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

/* Hide the placeholder texts (a) */
::placeholder {
  color: transparent;
}

.inputContainer .label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: rgb(72, 212, 212);
}


.footer
{
  background-color:#ffffff;
  padding:45px 5% 20px 5%;
  font-size:20px;
  line-height:24px;
  color:#494949;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.footer h5
{
  color:rgb(29, 29, 29);
  font-size:170%;
  text-transform:uppercase;
  letter-spacing:2px;
  margin-bottom: 5%;
}
.footer h6
{
  color:rgb(35, 35, 35);
  font-size:16px;
  text-transform:uppercase;
  margin-bottom: -2%;
  letter-spacing:2px
}
.footer a
{
  color:#5b5a5a;
  text-decoration: none;
}
.footer a:hover
{
  color:green;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#5264AE;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

.copyright-text
{
  margin:0
}



.content{
  margin-left: 10 px;
  margin-right: 10 px;
}

.content-footer{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  gap: 30px;
}

.btn41-43 {
  padding: 10px 25px;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: green;
}

.btn-43 {
  border: 2px solid lightgreen;
  z-index: 1;
  color: black;
}

.btn-43:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  color: black;
  background: lightgreen;
  transition: all 0.3s ease;
}

.btn-43:hover {
  color: black;
}

.btn-43:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
  color: black;
}

@media (max-width:991px)
{
  .footer [class^=col-]
  {
    margin-bottom:30px
  }

  .footer{
    line-height:normal;
  }
}
@media screen and (max-width:767px)
{
  .footer
  {
    padding-bottom:0
  }
  .footer .copyright-text,.footer 
  {
    text-align:center
  }
}

@media screen and (max-width:820px){
  .footer{
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: left;
  }
  .content-footer{
    display: flex;
  }
  .image-logo{
    display: block;
  }
  .footer h5{
    line-height: 120%;
  }
}

@media screen and (max-width: 382px) {
  h6.premierElement{
    margin-top: 37.28px;
  }
  h6{
    margin-top:0px;
  }

  ul.footer-links{
    margin-bottom: 0px;
  }

}
