body{
    margin  : 0      ;
    padding : 0      ;
    color   :black ;
}

.menuNavigation{
    
    position            : sticky             ;
    display             : flex               ;
    align-items         : center             ;  
    padding-top         : 18px               ;
    padding-bottom      : 18px               ;    
    width               : 100%               ;
    background-color    : whitesmoke       ;
    border-bottom       : 1px solid grey   ;
    box-sizing          : border-box         ;
    -webkit-user-select : none               ;
    -moz-user-select    : none               ;
    -ms-user-select     : none               ;
    user-select         : none               ;
    font-family         : 'Inter', sans-serif;;
}
.marque{
    display         : flex  ;
    align-items     : center;
    text-decoration : none  ;
    margin-left     : 50px  ;
    margin-right    : 50px  ;
    font-weight     : 700   ;
    font-size       : 20px  ;
    padding-right:20px;
    color           :black;
    flex-wrap: nowrap;

    

}

.marque p{
    margin:0;
}

div.elementGauche{
    display : flex ;
}

.elementGauche a{
    
    margin-left     : 30px          ;
    margin-right    : 50px          ;
    font-size       : 17px          ;
    font-weight     : 400           ;
    text-decoration : none          ;
    align-items     : center        ;
    justify-content : space-between ;
    color           :black        ;
    display         : inline-block  ;
    position        : relative      ;

    
}


.elementGauche a::after {
    content: "";
    display          : block                   ;
    position         : absolute                ;
    bottom           : -3px                    ;
    width            : 100%                    ;
    height           : 1px                     ;
    transform        : scaleX(0)               ;
    transform-origin : left                    ;
    background       : #333                  ;
    transition       : transform 0.3s ease-out ;
  }
  
  .elementGauche a:hover::after{
    transform    : scaleX(1) ;
  }

div.elementDroite{
    margin-left  : auto   ;
    margin-right: 50px    ;
    display      : flex   ;
    align-items  : center ;
}


div.elementDroite a{
    text-decoration : none         ;
    margin-left     :80px         ;
    font-size       : 17px         ;
    font-weight     : 400          ;
    color           : black      ;
    display         : inline-block ;
    position        : relative     ;
}

div.elementDroite a::after{
    content          : ""                      ;
    display          : block                   ;
    position         : absolute                ;
    bottom           : -3px                    ;
    width            : 100%                    ;
    height           : 1px                     ;
    transform        : scaleX(0)               ;
    transform-origin : left                    ;
    background       : rgb(84, 85, 82)       ;
    transition       : transform 0.2s ease-out ;
}
  
div.elementDroite a:hover::after{
    transform     : scaleX(1);
}

div.panier{
    align-items   : center;
    margin-right  : 30px  ;
    margin-left   : 30px  ;
}

svg{
    margin-right : 5px   ;
}

span.desactivated{
    color       :#979797 ;
}

.loupe{    
    margin-left : 30px     ;
}

.container{
    display:flex;
    width: 100%;
}

@media screen and (max-width : 940px) {
    .container{
        display:none;
    }
    
}