

.corps{
    display: grid;
    grid-template-rows: auto;
}

.page{
    display: grid;
    grid-template-columns: 50% 50%;
}

/* css partie gacuhe (image) */

.imgarticle{
    position: relative;
    display: grid;
    height: fit-content;
    width: 55%;
    grid-template-rows: 80% 20%;
    margin-top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 2px;

}


.listeimg{
    grid-row: 2;
    width: auto;
    height: 100%;
    display: flex;
    border-top-style: solid;
    flex-direction: row;
    justify-content: center;
}


.img1{
    width:100%;
    height: 100%;
}

.img2{
    width: 100%;
    height: 100%;
}

.img3{
    width: 100%;
    height: 100%;
}

.bc{
    padding: 6px;
    width: fit-content;
}

.grosseimage{
    grid-row: 1;
    padding: 7px;
    height: fit-content;
    position: relative;
    justify-content: center;
}


.imgapparente{
    width: 100%;
}
.bnext{
    z-index: 60;
    grid-column: 2;
    position:absolute;
    
}


/* css partie droite (info) */

h3{
    margin-bottom: 10%;
}


.data{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}
.description{
    margin-top: 5%;
    margin-bottom: 5%;
}

button{
    border-style: none;
    background: none;
}

.infoproduit{
    margin-top: 20%;
    margin-right: 10%;
}

.number{
    display: flex;
    margin-right: 10%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
}
.compteur{
    display: flex;
    flex-wrap: nowrap;
    border-style: solid;
    border-color: gainsboro;
    width: fit-content;
    margin-right: 10%;
    height: fit-content;
}
#counting{
    min-width: 20px;
    text-align: center;
}
.form-select{
    border-radius: 0;
}


.achatbuton{
    display: flex;
    margin-right: 10%;
    flex-wrap: nowrap;
    justify-content:space-between;
    margin-top: 5%;

}

.ba{
    border-style: solid;
    border-width: 1px;
    background: black;
    color: white;
    border-radius: 0;
    padding: 10px;
}

.ba:hover{
    background: white;
    color: black;
}


/* popup */
 .buypop{
    position: absolute;
    visibility: hidden;
}

.buypop.visible{
    visibility: visible;
    position: fixed;
    bottom: 0%;
    height: 100%;
    background: rgba(128, 128, 128, 0.5);
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.toppopb{
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.none{
    position: relative;
    margin: 5px;
    height: 10px;
    width: 10px;
}

.rmbuy{
    background-color: black;
}
.contentachat{
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 6%;
    width: 70%;
    height: 70%;
    position: relative;
    background-color: white;
}

.recap{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    
}
.imgbox{
    margin: 2vh;
    height: 90%;
    width: 40%;
}

.imgrecap{
    width: 100%;
}
.recaptxt{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 8%;
    justify-content: start;
}
.tests{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 30px;

}

.printp{
    display: flex;
    justify-content: space-between;
}

.boutonsecondaire{
    display: flex;
    justify-content: space-between;
}

.btnsmin{
    position: relative;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    color: black;
    text-decoration: none;
    padding: 10px;
    height: fit-content;
}

.btnbuy{
    width: 35%;
    height: fit-content;
}
.backbuy{
    margin-bottom: 5%;
}
.btnsmin:hover{
    color: white;
    background-color: black;

}


.achatpop{
    position: absolute;
    visibility: hidden;
}

.achatpop.visible{
    visibility: visible;
    position: fixed;
    bottom: 0%;
    height: 100%;
    background: rgba(128, 128, 128, 0.5);
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.toppopb{
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.none{
    position: relative;
    margin: 5px;
    height: 10px;
    width: 10px;
}

.rmachat{
    background-color: black;
}
.garde{
    text-align: center;
}
.rt1{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.rt2{
    position: relative;
    width: 50%;
}

.btnachat{
    text-align: center;
    width: 30%;
    margin-top: 5%;
}


@media screen and (max-width: 1024px){

    .contentachat{
        justify-content: space-around;
        padding-bottom: 10px;
    }

    .number{
        flex-direction: column;
        margin-left: 0%;
    }

    #select{
    margin-top: 3%;
    margin-left: 0%;
    width: 50%;
    }

    .achatbuton{
        flex-direction: column;
        margin-left: 0%;
        width: 50%;
        margin-top: 10%;
    }

    .achat{
        margin-bottom: 3%;
    }
    .rt2{
        width: 70%;
    }


}

@media screen and (max-width: 920px){
    .page{
        display: flex;
        flex-direction: column;
    }

    .infoproduit{
        margin: 3%;
    }

    .imgarticle{
        left: 50%;
        width: 80%;
    }

    .data{
        flex-direction: column-reverse;
        margin: 0%;
        margin-bottom: 3%;
    }
    .name{
        margin-bottom: 2%;
    }
    .description{
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .achatbuton{
        display: flex;
        width: 100%;
        flex-direction: row;
        margin: 3%;
        margin-left: 0%;
        margin-right: 0px;
        height: fit-content;
        justify-content:space-between;
    
    }
    .ba{
        height: fit-content;
        padding: 10px;
    }

    .number{
        display: flex;
        flex-direction: row;
        margin: 3%;
        margin-left: 0%;
        margin-right: 0px;
        height: fit-content;
        justify-content:space-between;
    }

    #select{
        margin: 0%;
    }

    .imgbox{
        display: none;
    }


    .boutonsecondaire{
        width: 100%;
        position: relative;
        flex-direction: column;
        align-items: center;

    }

    .btnbuy{
        width: 50%;
    }

    .recap{
        justify-content: center;
    }
    .recaptxt{
        width: 80%;
    }

    .rt1{
        width: 100%;
    }
    .rt2{
        width: 90%;
    }
    .contentadd{
        height: fit-content;
        padding-bottom: 10px;
    }
}
