/*TEXTE*/

.colonne{
  display : flex;
  flex-direction : column;
  margin-left: 10vw;
  margin-right: 10vw;
}

body{
  font-family : 'Public Sans';
  font-style : normal;
}

h2{
  font-size: 22px;
}

.Image1{
  width:129px;
  height:133px;
}

.bouton{
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.Article{
  display : flex;
  align-items: center;
  flex: auto;
}

.description{
  width:100%;
}

.caractere{
  size: 25px;
  float: right;
}

.summary{
  display : flex;
  flex-direction : column;
  margin-left:auto;
}

.remove1{
  text-decoration: underline;
  color: #000;
  text-align: right;
}

.informations{
  color:#909090;
}

.panier{
  display : flex;
  flex-direction : row;
}

.menufin{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%; 
}

.caractere{
  float: right;
}

@media screen and (max-width: 1024px){
  .panier{
    flex-direction: column;
  }
}