/*TEXTE*/

.colonne{
  display : flex;
  flex-direction : column;
}

body{
  font-family : 'Public Sans';
  font-style : normal;
}

h2{
  font-size: 22px;
}

.Image1{
  width:129px;
  height:133px;
}

.Article{
  display : flex;
  align-items: center;
  flex: auto;
}

.description{
  width:100%;
}

.remove1{
  text-decoration: underline;
  color: #000;
  text-align: right;
}

.informations{
  color:#909090;
}

.panier{
  display : flex;
  flex-direction : row;
}

.summary{
  
}

.caractere{
  float: right;
}

@media screen and (max-width: 1024px){
  .panier{
    flex-direction: column;
  }
}