body {
    background-color: white;
    font-family: sans-serif;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 25% 1fr;
}
/* ----------------------------------- */
.entete{
    background-color: black;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 216px;
}
.entete h1{
    margin: 0;
    font-size: 36px;
}
.entete_text {
    color: white;
    padding-top: 34px;
    padding-left: 145px;
    font-family: sans-serif;
    width: 476px;
}
.entete p{
    font-size: 18px;
}

/* ----------------------------------- */

.filtre{
    text-align: left;
    margin-left: 1vw;
}

.categorie {
    margin-top: 2px;
    padding: 0;
    margin-bottom: 3px;
}

.form-check {
    display: grid;
    grid-template-columns: 2vw 1fr;
    align-items: center;
}

.filtre h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.filtre h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}

.filtre label {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
}
/* ---------------------------------- */

.fcolor {
    background-color: green;
    border-radius: 100%;
    width: 1.5vw;
    height: 1.5vw;
    border: solid 2px black;
    margin-top: 0.5vw;
    margin-right: 0.5vw;
    display: flex;
    justify-content: center;
}

.catColor{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% ;
}

/* ---------------------------------- */

.deroulant_sortBy {
    padding: 0;
    margin-right: 6vw;
    display: flex;
    justify-content: flex-end;
}

.nbr_item {
    padding: 0;
    margin-right: 6vw;
    margin-bottom: 3vw;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    margin-top: -0.5vw;
}

/* ------------------------------------ */

.card_item {
    display: grid;
    align-items: center;
    grid-template-columns: 33% 33% 1fr;
}

.block {
    width: 20vw;
    padding: 0;
    margin-right: 3vw;
    margin-bottom: 3vw;
}

.block_img {
    width: 20vw;
    height: 20vw;
}


.block_img .imgp2{
    height: 20vw;
    width: 20vw;
    object-fit: cover;
}

.block_text .nomPara {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block_text .parametre {
    background-color: green;
    border-radius: 100%;
    width: 3vw;
    height: 3vw;
    border: solid 2px black;
    margin-top: 0.5vw;
    margin-right: 0.5vw;
}

.block_text p {
    margin: 0;
}

.block_text .nom {
    margin-left: 0.5vw;
    font-weight: bold;
}


.block_text .prix {
    margin-left: 00.5vw;
}

/* ----------------------------- */

.a_bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 5vw;
}

.b01 {
    border: solid black 2px;
}